@model IEnumerable<card.Models.Visit>

@{
    ViewData["Title"] = "Visits";
    Layout = "_Layout";
    <link rel="stylesheet" href="wwwroot/css/styles.css"/>;

}

<h1>Visits</h1>


<p>
    <a class="butt" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Specialist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diagnosis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Complaints)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Specialist)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Diagnosis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Complaints)
                </td>
                <td>
                    <a class="butt" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a class="butt" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a class="butt" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
